<!DOCTYPE html>
<html>
  <head>
    <title>Mealtime</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.mealTimeLogo = "<%= image_url('mtlogo1.png') %>";
      window.mealTimeLogo2 = "<%= image_url('mtlogo2.png') %>";
      window.biz1 = "<%= image_url('biz1.png') %>";
      window.biz2 = "<%= image_url('biz2.png') %>";
      window.biz3 = "<%= image_url('biz3.png') %>";
    </script>
    <script type="text/javascript">
      window.sessionArt = "<%= image_url('sessionsart.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
